.Applications {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.button {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--color-denim-15);
  color: white;
  font-weight: bold;
  text-decoration: none;
  width: 200px;
  display: flex;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.loader {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}